@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
}

/*TITLE part*/
header{
	width: 100%;
    background: black;
}
.bg-dark {
    background: black;
}
.navbar a img {
    vertical-align: middle;
    border-style: none;
}
.navbar-light .navbar-nav .nav-link{
	color: white;
}
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 10px 30px;
}
.collapse a{
    color: #b0b0b0 !important;
    font-family: 'Open Sans', sans-serif;
}
.collapse ul li{
	margin: 0px 15px;
}
.collapse ul li:hover{
	background-color: #353434;
}
/*BANNER PART*/

.banner{
	width: 100%;
	background-image: url(img/banner.png) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 90px; 
}
.banner-text h3{
	font-family: 'Raleway', sans-serif;
    color: #bab9ba;
    font-size: 35px;
    color: #ffffff;
    margin-top: 15px;
}
.line {
    width: 70px;
    height: 1px;
    background: #ff8b38;
    margin: 25px 0px;
}
.banner-text p{
	font-family: 'Raleway', sans-serif;
	color: #bab9ba;
	font-size: 18px;
}
.banner-text button{
	border: 1px solid white;
    padding: 5px 20px;
    background: transparent;
    color: white;
}
.banner-text button:focus{
	outline: none;
}
.banner-text button:hover{
	background-color: #ff9b51;
	color: white;
}
.card{
	width: 60%;
    margin-left: 130px;
}
.card-header{
	background: #f5f5f5;
    text-align: center;
}
.card-header h1{
	font-size: 25px;
}
.card-header span{
	color: #ff8b38;
}
.card-body .form-group{
	margin-bottom: 15px;
}
.form-group input{
	border: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0px;
    margin: 0px 10px;
    margin-left: 0px 43px;
    width: 90%;
    outline: none;
}
form .card-footer{
    background: #ff9b51;
    text-align: center;
}
form .card-footer input{
	border: none;
	background: transparent;
	color: white;
	outline: none;
}

/*SOCIAL MEDIA FROM HERE*/

.social{
	width: 100%;
	border-bottom: 1px solid #b7b7b7;
}
.social h3{
	margin-top: 20px;
	font-size: 20px;
	margin-left: 10px;
}
.social p{
	font-size: 10px;
	color: #a6a7a9;
}
.iconn ul{
	list-style: none;
	text-align: right;
	margin-top: 20px;
}
.iconn ul li{
	display: inline-block;
    margin-left: 50px;
    padding: 10px 10px;
}
.iconn ul li i{
	color: #cccccc;
    font-size: 33px;
}


/*TAB Part from here*/


.tabb{
	width: 100%;
	background: #f5f5f5;
	padding: 80px 0px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.tab-1, .tab-2, .tab-3{
	width: 90px;
    height: 90px;
    margin: 1px 0px;
}
.tabb .tab-1 a{
	text-decoration: none;
	color: white;
}
.tabb .tab-2 a{
	text-decoration: none;
	color: white;
}
.tabb .tab-3 a{
	text-decoration: none;
	color: white;
}
.tab-1 h4{
	text-align: center;
    line-height: 90px;
    color: white;
    background-color: #ff8b38;
    border-bottom: 1px solid #f5f5f5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.tab-2 h4{
	text-align: center;
    line-height: 90px;
    color: white;
    background-color: #333333;
    border-bottom: 1px solid #c7c7c7;
}
.tab-3 h4{
	text-align: center;
    line-height: 90px;
    color: white;
    background-color: #333333;
    border-bottom: 1px solid #c7c7c7;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.peragraph h5{
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
}
.peragraph p{
	width: 80%;
	font-family: 'Raleway', sans-serif;
	color: #a6a7a9;
	font-size: 12px
}
.peragraph button{
	margin: 35px 0px;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    background: #ff8b38;
    color: white;
    outline: none;
}
.img img{
	margin-left: 20px;
}


/*SUBLIST FROM HERE*/

.sublist{
	width: 100%;
	padding: 80px 0px;
	margin-left: -25px;
}
.linee {
    width: 70px;
    height: 1px;
    background: #ff8b38;
    margin: 25px 0px;
    margin-left: 85px;
}
.sec-1 h3{
	margin-left: 85px;
}
.sec-1 p{
	font-family: 'Raleway', sans-serif;
    color: #a6a7a9;
    width: 90%;
    margin-left: 85px;
    font-size: 15px;
}
.icon-here i{
	margin-left: 80px;
	padding: 10px 10px;
	border: 1px solid #ff8b38;
	border-radius: 100%;
}
.title-1 h5{
	margin-left: 50px;
}
.title-1 p{
	margin-left: 40px;
	font-family: 'Raleway', sans-serif;
    color: #a6a7a9;
}
.h5{
	margin-left: 50px;
}
.p{
	margin-left: 50px;
	margin-left: 50px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #a6a7a9;
}


/*POST FROM HERE*/

.post{
	width: 100%;
	background-color: #f5f5f5;
	padding: 100px 0px;
}
.hh3{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
.lineee {
    width: 70px;
    height: 2.5px;
    background: #ff8b38;
    margin: 25px 0px;
}
.pp{
	font-family: 'Open Sans', sans-serif;
	color: #a6a7a9;
	font-size: 14px;
}
.imgg img{
	margin-left: 50px;
}


/*ANOTHER DESIGN FROM HERE*/



.design{
	width: 100%;
}
.design .awesome{
	text-align: center;
	margin-top: 60px;
}
.design .awesome .lline {
    width: 70px;
    height: 1px;
    background: #ff8b38;
    margin: 30px 47%;
    text-align: center;
}
.partition{
	width: 100%;
	display: flex;
	flex: left;
    margin: 40px 0px;
}
.partition .part-1{
	flex: left;
	width: 33.3%;
	text-align: center;
}
.part-1 i{
	border: 1px solid #ff8b38;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 100%;
    color: #ff8b38;
    margin-bottom: 15px;
}
.partition .part-2{
	flex: left;
	width: 33.3%;
	text-align: center;
}
.part-2 i{
	border: 1px solid #ff8b38;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 100%;
    color: #ff8b38;
    margin-bottom: 15px;
}
.part-1 p{
	font-size: 12px;
    color: #a4a5a8;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0px;
}
.part-2 p{
	font-size: 12px;
    color: #a4a5a8;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0px;
}
.part-1 h3{
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
}
.part-2 h3{
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
}


/*PRICING PART FROM HERE*/

.pricing{
	width: 100%;
    padding: 100px 0;
    text-align: center;
    background: #f5f5f5;
}
.pricing .row{
	align-items: flex-end;
}
.pricing .awesome .lline {
    width: 70px;
    height: 1px;
    background: #ff8b38;
    margin: 30px 47%;
    text-align: center;
}
.pricing .card{
	border:none;
	width: 100%;
	margin: 20px 0px;
	padding: 0px;
}
.pricing .card-header{
	background: #333333;
	color: white;
	border-bottom: 1px solid white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600px;
}
.pricing .card-body{
	background: #333333;
    color: white;
    text-align: center;
    border-bottom: 3px solid #ff8b38;
    margin: 0px;
    padding: 0px;
}
.pricing .card-body h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
.pricing .card-body span{
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
}
.pricing .card-footer ul li{
	list-style: none;
    text-align: center;
    color: #a4a5a8;
    border-bottom: 1px solid #e2e3e8;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0px;
}
.pricing .card-footer, .card-footer ul{
	background-color: white;
	margin: 0;
    padding: 0;
    margin-bottom: -15px;
    border: none;
}
.pricing .card-body .middle h1{
	font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    border-bottom: 1px solid white;
}
.pricing .card-body .popular{
	background: #ff8b38;
	padding: 5px 0px;
}


/* Coustomer from here*/


.coustomer{
	width: 100%;
	margin-bottom: 80px;
	margin-top: 10px;
}
.information{
	text-align: center;
	margin-top: 60px;
}
.information .llinee {
    width: 70px;
    height: 1px;
    background: #ff8b38;
    margin: 30px 47%;
    text-align: center;
}
.comment{
	background-color: #f5f5f5;
    padding: 15px 15px;
    position: relative;
}
.comment p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
	font-style: italic;
	font-size: 14px;
}
.box{
	width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    position: absolute;
    transform: rotateZ(45deg);
    margin-left: 10px;
}
.row{
	margin-top: 20px;
}
.col-md-8{
	margin-left: -40px;
}

/* STYLISH START FROM HERE */


.stylish{
	width: 100%;
	padding: 50px;
	background-image: url(img/design.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.al-mid h1{
	font-family: 'Raleway', sans-serif;
	color: white;
}
.al-mid .em-line{
	width: 80px;
    height: 0.5px;
    background: white;
    margin: 30px 46%;
}
.al-mid p{
	font-family: 'Open Sans', sans-serif;
	color: #e2e2e0;
}
.al-mid button{
	padding: 7px 30px;
    margin: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-bottom: inset;
}


/*<!-- CONTACT US PART START FROM HERE -->*/

.contact-us{
	width: 100%;
	padding: 70px 0;
	text-align: center;
}
.contact-us .awesome{
	text-align: center;
}
.contact-us .awesome .lline {
    width: 70px;
    height: 1px;
    background: #ff9b51;
    margin: 30px 47%;
    text-align: center;
}
.contact-us .awesome h3{
	font-family: 'Raleway', sans-serif;
}
.contact-us .awesome p{
	font-family: 'Open Sans', sans-serif;
}
.contact-us textarea{
	border: none;
	border-bottom: 1px solid #cccaca;
	outline: none;
}
.contact-us button{
	text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 3px;
    color: white;
    background: #ff9b51;
    font-family: 'Open Sans', sans-serif;
}

/*<!-- Social icon start END FROM HERE -->*/
.social-icon{
	width: 100%;
	padding: 5px 0;
	background:black;
	text-align: center;
}
.social-icon .iiconn ul{
	list-style: none;
}
.social-icon .iiconn ul li{
	display: inline-block;
	margin-left: 40px;
}
.social-icon .iiconn ul li i{
	color: #cccccc;
    font-size: 33px;
}
.iiconn p{
	color: #707070;
	font-family: 'Open Sans', sans-serif;
}